python==3.11.7
streamlit==1.33.0
streamlit-extras
langchain==0.1.17
langchain-openai==0.0.8
langchain-community
openai==1.6.1
faiss-cpu==1.8.0
python-dotenv==1.0.1
PyPDF==4.0.2
tiktoken==0.5.2
geoip2
